.navbar.navbar-expand-md.sticky-top {
    background-color: rgba(255, 255, 255, 0.8)!important;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar .navbar-nav .nav-link {
    color: rgba(1, 72, 177, 1);
}

.navbar .navbar-nav .nav-link.active {
    color: rgba(1, 72, 177, 0.7);
}

.navbar .navbar-nav .nav-link:focus {
    color: rgba(1, 72, 177, 0.7);
}

.navbar .navbar-nav .nav-link:hover {
    color: rgba(1, 72, 177, 0.7);
}

.navbar a.nav-link {
    font-size: 16px;
    font-weight: bold;
}

.header-logo:hover {
    text-decoration: none;
}

.header-social {
    top: 20%;
    right: 5%;
}

.header-social .item.social > a img {
    height: 36px;
}

.footer-dark {
  padding: 30px 0;
  color: #f0f9ff;
  background-color: #404440;
}

.footer-dark .item {
    font-size:15px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:2.0;
  margin-bottom:0;
}

.footer-dark ul a {
  color:#f0f9ff;
  text-decoration:none;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

.footer-dark .item.social > a img {
    height: 36px;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.6;
  font-size:14px;
  margin-bottom:0;
}
