/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .header-logo img {
        height: 40px;
    }

    .footer-dark .item {
        padding-bottom: 15px;
    }

    .footer-dark ul {
        text-align: center;
    }

    .footer-dark .item.social {
        text-align: center!important;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .header-logo img {
        height: 40px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .footer-dark .item {
        padding-bottom: 15px;
    }

    .footer-dark ul {
        text-align: center;
    }

    .footer-dark .item.social {
        text-align: center!important;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .header-logo:after {
        display: inline-block;
        margin: 0 0 0 20px;
        height: 1px;
        content: " ";
        text-shadow: none;
        background: linear-gradient(to right, rgba(46, 108, 213, 0.7) 0%, rgba(46, 108, 213, 0) 100%);
        width: 140px;
    }

    .header-logo:before {
        display: inline-block;
        margin: 0 20px 0 0;
        height: 1px;
        content: " ";
        text-shadow: none;
        background: linear-gradient(to left, rgba(46, 108, 213, 0.7) 0%, rgba(46, 108, 213, 0) 100%);
        width: 140px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 2.0rem;
        padding-left: 2.0rem;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .header-logo:after {
        display: inline-block;
        margin: 0 0 0 20px;
        height: 1px;
        content: " ";
        text-shadow: none;
        background: linear-gradient(to right, rgba(46, 108, 213, 0.7) 0%, rgba(46, 108, 213, 0) 100%);
        width: 140px;
    }

    .header-logo:before {
        display: inline-block;
        margin: 0 20px 0 0;
        height: 1px;
        content: " ";
        text-shadow: none;
        background: linear-gradient(to left, rgba(46, 108, 213, 0.7) 0%, rgba(46, 108, 213, 0) 100%);
        width: 140px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 2.0rem;
        padding-left: 2.0rem;
    }
}
